body{
  background-color: black;
  color: white;
}
.introtext{
  font-size: 25px;
  text-align: right;
  background-color: #111111;
  border-radius: 25px;
}
.tooltip .tooltiptext {
  font-size: 13px;
  font-family: courier new;
  position: absolute;
  background-color: #afafaf;
  color: #2f2f2f;
  width: 260px;
  bottom: 130%;
  left: 50%;
  margin-left: -130px;
  visibility: hidden;
  z-index: 1;
  border-radius: 25px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip:hover .point{
  visibility: visible;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip img{
  filter: invert(94%) sepia(0%) saturate(24%) hue-rotate(9deg) brightness(105%) contrast(106%);
}
.tooltiptext .point {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #afafaf;
  position: absolute;
  z-index: 1;
  bottom: -20%;
}
.tooltiptext .padpoint{
  padding-right: 15px;
}
.introimg img{
  border-radius: 25px;
}
.about {
  padding: 40px;
  font-family:'Courier New';
  font-weight: bold;
}
.heading {
  text-transform:uppercase;
  font-family:'Verdana';
  padding:30px;
}
.colormode:hover{
  cursor: pointer;
}
.colormode{
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAAD/ElEQVR4nO2bXYhVVRiGnzWW/aA1hUyl/eiAmRZJRl0kFvTnTykVEUIXDXgRRCXddBXVTRDdhHXhTeB1EYTUhFJYQfRDYGSQFoKSEXghDmON48j0dLHPrtOZc87MOWfttUabB87FnLX2u9/v22vvs9a318Acc8zRDWqf+ry6KLeX5KjXq1+oB3J7SY66UR2x4K3cfpKiblUn/Jeh3J6SoT6jTvpf1uT2lQR1yOb05/ZWOepadbxJ8KO5vVWOulQ93uLqH8ntLwZ9rRrUecB7wECLLqcrcZSYlgkAtgN3tGk/G9nL7KE29E+1GPolh3P7jEGrEfA2sGCaYxdG9jI7UNeof01z9VVPqyG33+io788g+JIluf1GRV3p1NleO+7N7blXGp8B25p8146bInrJwj/B1u7nxzs8/q64djKi3tnB0C/5PbfvXqkf7o91cfw16qpYZnJQn4C1XWo8EcNILgIU9T1ghO4mN0eBwRCCMY2lohwBy+l+ZrcUuDuOnfSUCVjdo86LvRrJRZmAq3vU2aTe3quZHJQJuDyC1isRNJJTJiBGbW+zujmCTlLKBFwWSW+HekkkrSSUCZiIpLcMeDOSVhLKBJyKqPm0+mREvUqpIgEAO9VbI2tWQpmAY5F1FwKfqMsj60anTMDPFWgPAMPq4gq0o1FlAqCYYn+lrqhIv2f6AEIII0BVZe4bgC/VbleblVK/HP6swvMsAj5XX62tPGcfFu/+U7BHXZY73imo/Ra1/hSMqS+pF2WKdYv6aLOGdxMloOSYxUarSxMF/oDF3qZJ9bpmHR5KnICS4+rr6s0VBN1vsbvl+7rz7S3bQ0PnPuAnIOfP1n5gGNgHfBNCGO9UQF0J3ANsAe4D5jd02RhC2AMNCagdPATs6vSkFTEOHAR+qX1+A/6ofcaAK4CLgSXAtcAqiurWlW00fwRWlzXMZgm4EDgEDMaKYpbxcAhhuPxjym9yCOEsxeaI85F99cFDkxFQou6muIfOF84At4UQDtZ/2W5W9ixwolJLaXm5MXhoMwIA1E3AR9P1Owf4FNgQQphsbGg7Lw8hfAy8UZWrRBwFtjYLHmZwZS1em+8CnopsLAUngHXNhn7JjIa2Oh/YDWyIZCwFo8CDIYRv23Wa0dI0hDABPEKxcfJc4CSwfrrgO0adp+5Mt0ToisNWvWdB3ab+mTnQZuxV202DoybhFvWHzAGXjKnbTb1vUb1AfUEdzRj8h+Yuv6uL1R2mvS2+VtdnDbwRdUB9zaLSUwUT6gfO9g2aFv9TeL/6jnqkx6DHLR5uz6lXxfaa5KGhDgLrKHaWrgBupHglv4CiqHGGosBxEviVYvp6APgO2B9CGEvhc445/of8DcP3zfdV61yfAAAAAElFTkSuQmCC')
}
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #111111;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #eeeeee;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover{
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.offset {
  --color: #ffffff;
  --hover: #000000;
}
button {
  color: var(--color);
  transition: 0.25s;
}
button:hover{
  border-color: var(--hover);
  color: #fff;
  cursor: pointer;
}
button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}
