.intro {
  display:flex;
  flex-wrap:wrap-reverse;
}
.introimg img{
  border-radius: 5%;
  width:95%;
}
.introimg {
  flex:0.35;
}
.introtext{
  font-size: 25px;
  text-align: right;
  background-color: rgb(200,200,200);
  border-radius: 25px;
  flex:0.65;
}
.theme {
  position:fixed;
  padding-left:62vw;
  padding-top:10px;
}
.tooltip .tooltiptext {
  font-size: 13px;
  font-family: courier new;
  position: absolute;
  background-color: black;
  color: white;
  width: 260px;
  bottom: 130%;
  left: 50%;
  margin-left: -130px;
  visibility: hidden;
  z-index: 1;
  border-radius: 25px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip:hover .point{
  visibility: visible;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltiptext .point {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid black;
  position: absolute;
  z-index: 1;
  bottom: -20%;
}
.tooltiptext .padpoint{
  padding-right: 15px;
}
.about {
  padding: 40px;
  font-family:'Courier New';
  font-weight: bold;
}
.heading {
  text-transform:uppercase;
  font-family:'Verdana';
  padding:30px;
}
.colormode:hover{
  cursor: pointer;
}
.offset:hover{
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
  border-color: var(--hover);
  color: #fff;
  cursor: pointer;
}
.offset {
  --color: #2f2f2f;
  --hover: #1f1f1f;
  color: var(--color);
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}

.buttons {
  font-family:'Courier New';
  font-weight:bold;
}