.introtext{
  font-size: 25px;
  text-align: right;
  background-color: rgb(100,100,100);
  border-radius: 25px;
}
.tooltip .tooltiptext {
  font-size: 13px;
  font-family: courier new;
  position: absolute;
  background-color: black;
  color: white;
  width: 260px;
  bottom: 130%;
  left: 50%;
  margin-left: -130px;
  visibility: hidden;
  z-index: 1;
  border-radius: 25px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip:hover .point{
  visibility: visible;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltiptext .point {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid black;
  position: absolute;
  z-index: 1;
  bottom: -20%;
}
.tooltiptext .padpoint{
  padding-right: 15px;
}
.introimg img{
  border-radius: 25px;
}
.about {
  padding: 40px;
  font-family:'Courier New';
  font-weight: bold;
}
.heading {
  text-transform:uppercase;
  font-family:'Verdana';
  padding:30px;
}
.colormode:hover{
  cursor: pointer;
}
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #aaaaaa;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.offset:hover{
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
  border-color: var(--hover);
  color: #fff;
  cursor: pointer;
}
.offset {
  --color: #2f2f2f;
  --hover: #1f1f1f;
  color: var(--color);
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);
*, *::after, *::before {
  box-sizing: border-box !important;
}
.bubble {
  font-family: "Montserrat", sans-serif !important;
  text-transform: uppercase !important;
}
.bubble {
  position: relative !important;
  border: none !important;
  font-size: 18px !important;
  transition: color 0.5s, transform 0.2s, background-color 0.2s !important;
  outline: none !important;
  border-radius: 3px !important;
  margin: 0 10px !important;
  padding: 23px 33px !important;
  border: 3px solid transparent !important;
}
.bubble:active {
  transform: translateY(3px) !important;
}
.bubble::after, .bubble::before {
  border-radius: 3px !important;
}
.bubble {
  color: #1b1b20 !important;
  border: none !important;
  overflow: hidden !important;
  box-shadow: none !important;
}
.bubble:hover {
  color: #ffffff !important;
}
.bubble::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: 3px solid #1b1b20 !important;
  transition: opacity 0.3s, border 0.3s !important;
}
.bubble:hover::before {
  opacity: 0 !important;
}
.bubble::after {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 200px !important;
  height: 200px !important;
  background-color: #494958 !important;
  border-color: transparent !important;
  border-radius: 50% !important;
  transform: translate(-10px, -70px) scale(0.1) !important;
  opacity: 0 !important;
  z-index: -1 !important;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s !important;
}
.bubble:hover::after {
  opacity: 1 !important;
  transform-origin: 100px 100px !important;
  transform: scale(1) translate(-10px, -70px) !important;
}