.introtext{
  font-size: 25px;
  text-align: right;
  background-color: rgb(100,100,100);
  border-radius: 25px;
}
.tooltip .tooltiptext {
  font-size: 13px;
  font-family: courier new;
  position: absolute;
  background-color: black;
  color: white;
  width: 260px;
  bottom: 130%;
  left: 50%;
  margin-left: -130px;
  visibility: hidden;
  z-index: 1;
  border-radius: 25px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip:hover .point{
  visibility: visible;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltiptext .point {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid black;
  position: absolute;
  z-index: 1;
  bottom: -20%;
}
.tooltiptext .padpoint{
  padding-right: 15px;
}
.introimg img{
  border-radius: 25px;
}
.about {
  padding: 40px;
  font-family:'Courier New';
  font-weight: bold;
}
.heading {
  text-transform:uppercase;
  font-family:'Verdana';
  padding:30px;
}
.colormode:hover{
  cursor: pointer;
}
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
